@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Muli);

body {
  font-family: "Century Gothic", "Lato", sans-serif;
}

a { 
  text-decoration: none;
}
.reveal {
  background-color: hsla(200, 100%, 25%, 0.5);
  color: #eee;
}

.et-hero-tabs,
.et-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  background: #eee;
  text-align: center;
  padding: 0 2em;
}

.et-slide-projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
 
  position: relative;
  background: #eee;
  text-align: center;
  padding: 0 2em;
}

.et-slide-projects h1,
.et-hero-tabs h1,
.et-slide h1 {
  font-size: 2rem;
  margin: 0;
  letter-spacing: 1rem;
  background-color: hsla(200, 100%, 25%, 0.5);
  color: #eee;

}

.et-slide-projects h2,
.et-hero-tabs h2,
.et-slide h2 {
background-color: hsla(200, 100%, 25%, 0.5);
color: #eee;
}

.et-slide-projects h3,
.et-hero-tabs h3,
.et-slide h3 {
  font-size: 1rem;
  letter-spacing: 0.3rem;
  opacity: 0.6;
 
}

.et-hero-tabs-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: #fff;
  z-index: 10;
}
.et-hero-tabs-container--top {
  position: fixed;
  top: 0;
}

.et-hero-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: hsla(200, 100%, 25%, 0.5);
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 0.8rem;
 
}
.et-hero-tab:hover {
  color: white;
  background: hsla(200, 100%, 25%, 0.5);/* hsla(240, 150%, 15%, 0.5); *rgba(102, 177, 241, 0.8); */
  transition: all 0.5s ease-out;
  all: 300ms ease-out;
}

.et-hero-tab-slider {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 6px;
  background: #66B1F1;
  transition: left 0.3s ease;
}

@media (min-width: 800px) {
  .et-hero-tabs h1,
.et-slide h1 {
    font-size: 3rem;
  }
  .et-hero-tabs h3,
.et-slide h3 {
    font-size: 1rem;
  }
  .et-slide p {
  font-size: 1.6vmin;
  line-height: 1.7;
  font-weight: 300;
  margin-bottom: 2.5vmin;
  }
  .et-hero-tab {
    font-size: 1rem;
  }
}

/******** Drop Down *********/

.drop-down {
  padding: 10px;
  cursor: pointer;
}
.hidden {
  margin-top: 15px;
  display: none;
}


/*** Typing Animation ***/

.typing.animate {
  width: 21ch;
  border-right: 0.1em solid black;

  animation: type 2.5s steps(20), writer 1s infinite alternate, delete 0.5s steps(5) 2.5s, type2 1s steps(4) 3s forwards, type3 3s steps(22, end) 4.5s forwards;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}

.typing.animate::before { 
  content: "I'm a softwaer ";
  animation: type3 1s steps(4) 3s forwards, type3 3s steps(22, end) 6s forwards;
}

@keyframes type {
  from {
    width: 0;
  }
  to {
    width: 21ch;
  }
}

@keyframes type2 {
  from {
    width: 16ch;
    content: "I'm a software developer :)"
  }
  to {
    width: 20ch;
    content: "I'm a software developer :)"
  }
}

@keyframes type3 {
  from {
    width: 20ch;
    content: "I'm a software developer :)"
  }
  to {
    width: 40ch;
    content: "I'm a software developer :)"
  }
}

@keyframes writer {
  50% {
    border-color: transparent;
  }
}

@keyframes delete {
  from {
    width: 21ch;
  }
  to {
    width: 16ch;
  }
}

/* ABOUT SECTION */

.container {
  justify-content: left;
  align-items: left;
  display: grid;
  grid-template-columns: 700px 700px;
  grid-template-rows: 500px 150px;
  grid-auto-flow: row;
  border: 0px solid rgba(0, 0, 0, 0.8);
  column-gap: 50px;
  justify-content: start;
  align-items: flex-start;
  margin-left: 55px;
}

.left-grid {
  grid-column: 1;
  grid-row: 1 / 3;
  border: 0px solid rgba(0, 0, 0, 0.8);
}

.right-grid {
  grid-column: 2;
  grid-row: 1 / 3;
  border: 0px solid rgba(0, 0, 0, 0.8);
}

/******** SOCIAL **********/

.footer-social-icons {
  align-items: flex-end;
  position: inherit;

  background-color: #eee;
}

ul {
  padding:0;
  list-style: none;
}

ul.social-icons {
  margin-top: 10px;
}
.social-icons li {
  display: inline;
  height: 150px;

}
.social-icons a {
  color: grey;
  text-decoration: none;
}

.fa-twitter {
  padding:10px 14px;
}
.fa-twitter:hover {
  color: #FFF;
 /* color:#00aced; */
  background-color:  hsla(200, 100%, 25%, 0.5);;
}

.fa-linkedin {
  padding:10px 14px;

}
.fa-linkedin:hover {
  color: #FFF;
  /* color:#0073a4; */
    background-color:  hsla(200, 100%, 25%, 0.5);
}
.fa-github {
  padding:10px 14px;

}
.fa-github:hover {
 /* color: #5a32a3; */
 color: #FFF;
  background-color:  hsla(200, 100%, 25%, 0.5);

}



/************** Frame ***************/
.snip1534 {
  font-family: 'Muli', sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  background-color: #000000;
}

.snip1534 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.snip1534 img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.75;
}

.snip1534 figcaption {
  z-index: 1;
  align-items: center;
  position: flex;
  width: 100%;
  top: 0;
  display: flexbox;
  flex-direction: column;
  justify-content: center;
  background-color: #66B1F1;
  padding: 15px;
}


.snip1534 h3,
.snip1534 h5 {
  margin: 0;
  letter-spacing: 1px;
}

.snip1534 h3 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
}

.snip1534 h5 {
  font-weight: normal;
}

.snip1534 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip1534:hover > img,
.snip1534.hover > img {
  opacity: 1;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}


